@import "tailwindcss";

body {
  color: white;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes shimmer {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
  .shimmer {
    background-size: 200% 100%;
    animation: shimmer 6s linear infinite;
  }